@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WeatherService.Models.View.Dashboard

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";

    <style>
        .bg {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: cover;
            background-position: 50% 50%;
            background-image: url('assets/bg-home.jpg');
            background-repeat: repeat;
            z-index: -1;
        }
    </style>

    <template id="widgetFactory" inline-template>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select the widget you want to add</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <div class="list-group" role="tablist">
                                    <a v-for="widget in this.widgets" class="list-group-item list-group-item-action" data-toggle="list" href="#" @@click="widgetSelected(widget)">{{widget.name}}</a>
                                </div>
                            </div>

                            <div class="col">
                                <div class="tab-content">
                                    <widget-options :widget="selectedWidget" :stations="availableStations" :selection="selectedStations"></widget-options>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <add-widget-button :widget="selectedWidget" :stations="selectedStations"></add-widget-button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </template>

    <template id="widgetOptions" inline-template>
        <div>
            <h4>{{widget.name}}</h4>
            <h5 class="text-info">{{widget.description}}</h5>
            <template v-if="stations == null || stations.length == 0">
                <p class="text-warning">
                    There are no stations available for this widget.
                </p>
            </template>
            <template v-else-if="widget.supportsMultipleStations">
                <p>
                    Please select at least one weather station you want to populate the dashboard from. Multiple stations are allowed.
                </p>

                <select class="custom-select" multiple @@change="updateMultiSelection()">
                    <option v-for="station in stations" :value="station.id">{{station.name}}</option>
                </select>
            </template>
            <template v-else>
                <p>
                    Please select a weather station from the list below.
                </p>

                <div v-for="station in stations" class="form-check">
                    <input class="form-check-input" type="radio" name="station" :data-station-id="station.id" @@click="updateSingleSelection()">
                    <label class="form-check-label">{{station.name}}</label>
                </div>
            </template>
        </div>
    </template>


    <template id="addWidgetButton" inline-template>
        <button v-if="stations.length>0" type="button" class="btn btn-primary" @@click="addWidget()">Add widget</button>
        <button v-else type="button" class="btn btn-primary" disabled>Add widget</button>
    </template>

    <template id="updateWidgetButton" inline-template>
        <button v-if="stations.length>0" type="button" class="btn btn-primary" @@click="updateWidget()">Save changes</button>
        <button v-else type="button" class="btn btn-primary" disabled>Save changes</button>
    </template>

    <template id="widgetEditor" inline-template>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Widget</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <widget-options :widget="selectedWidget" :stations="availableStations" :selection="selectedStations"></widget-options>
                </div>
                <div class="modal-footer">
                    <update-widget-button :widget="selectedWidget" :stations="selectedStations" :requester="requester"></update-widget-button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </template>

    <environment names="Development">
        <script src="~/js/home/dashboard.js"></script>
    </environment>
    <environment names="Staging, Test, Production">
        <script src="~/js/home/dashboard.min.js"></script>
    </environment>

    <script type="text/javascript">
    $(document).ready(function()
    {
        var pageApp = null;
        var options =
        {
            onEdit: (sender, guid, stations) =>
            {
                $('#widget-edit-dialog').modal('show');
                pageApp.$emit('edit-widget-dialog-opened', sender, guid, stations);
            }
        };

        @if(User.Identity.IsAuthenticated)
        {
        <text>
        options.onSave = (items) =>
        {
            $.ajax(
            {
                url: '/Home/UpdateDashboard',
                type: 'POST',
                data: JSON.stringify(items),
                dataType: 'json',
                contentType: 'application/json'
            }).fail(function(xhr, textStatus, errorThrown) { console.warn(xhr.responseText); });
        }
        </text>
        }

        var dashboard = new Dashboard(options);

        dashboard.refresh();

        $('<li class="nav-item">' +
            '    <button type="button" class="btn btn-primary">Add widget</button>' +
            '</li>')
            .appendTo('#action-buttons')
            .click(() =>
            {
                $('#widget-factory-dialog').modal('show');
                pageApp.$emit('new-widget-dialog-opened');
            });

        Vue.component('widgetOptions',
        {
            props: ['widget', 'stations', 'selection'],
            template: '#widgetOptions',
            updated: function()
            {
                this.selectStations();
            },
            methods:
            {
                updateSingleSelection()
                {
                    var id = $(this.$el).find('.form-check-input:checked').attr('data-station-id');

                    this.selection.splice(0, this.selection.length, id);
                },
                updateMultiSelection()
                {
                    var self = this;

                    self.selection.splice(0, self.selection.length);

                    $(this.$el).find('option:checked').each(function()
                    {
                        self.selection.push($(this).val());
                    });
                },
                selectStations()
                {
                    var selected = this.selection;

                    if (this.widget.supportsMultipleStations)
                    {
                        $(this.$el).find('option').each(function()
                        {
                            $(this).attr('selected', $.inArray($(this).val(), selected) != -1);
                        });
                    }
                    else
                    {
                        var stationId = selected[0];

                        $(this.$el).find('.form-check-input').prop('checked', false);
                        $(this.$el).find('.form-check-input[data-station-id="' + stationId + '"]').prop('checked', true);
                    }
                }
            }
        });

        Vue.component('addWidgetButton',
        {
            props: ['widget', 'stations'],
            template: '#addWidgetButton',
            methods:
            {
                addWidget()
                {
                    dashboard.addWidget(this.widget, this.stations);
                }
            }
        });

        Vue.component('updateWidgetButton',
        {
            props: ['widget', 'stations', 'requester'],
            template: '#updateWidgetButton',
            methods:
            {
                updateWidget()
                {
                    dashboard.updateWidget(this.requester, this.stations);
                    $('#widget-edit-dialog').modal('hide');
                }
            }
        });

        Vue.component('widgetFactory',
        {
            props: ['widgets', 'stations'],
            data: function()
            {
                return { selectedWidget: {}, selectedStations: []  };
            },
            template: '#widgetFactory',
            created: function()
            {
                var self = this;

                this.$parent.$on('new-widget-dialog-opened', () =>
                {
                    self.selectDefault();
                });
            },
            methods:
            {
                widgetSelected(widget)
                {
                    this.selectedWidget = widget;
                    this.selectedStations.splice(0, this.selectedStations.length);

                    var stations = this.stations[widget.guid];

                    if (stations.length > 0)
                    {
                        this.selectedStations.push(stations[0].id);
                    }
                },
                selectDefault()
                {
                    if (this.widgets.length)
                    {
                        this.widgetSelected(this.widgets[0]);

                        $(this.$el).find('.list-group-item-action').removeClass('active');
                        $(this.$el).find('.list-group-item-action:first').addClass('active');
                    }
                }
            },
            computed:
            {
                availableStations()
                {
                    if (this.selectedWidget)
                    {
                        return this.stations[this.selectedWidget.guid];
                    }

                    return [];
                }
            },
            mounted: function()
            {
                this.selectDefault();
            }
        });

        Vue.component('widgetEditor',
        {
            props: ['widgets', 'stations'],
            data: function()
            {
                return { selectedWidget: {}, selectedStations: [], requester: null  };
            },
            template: '#widgetEditor',
            created: function()
            {
                var self = this;

                this.$parent.$on('edit-widget-dialog-opened', (sender, guid, stations) =>
                {
                    var widget = self.widgets.find(w => w.guid == guid);

                    self.requester = sender;
                    self.selectedWidget = widget;
                    self.selectedStations.splice(0, self.selectedStations.length);
                    stations.forEach(station => self.selectedStations.push(station));
                });
            },
            computed:
            {
                availableStations()
                {
                    if (this.selectedWidget)
                    {
                        return this.stations[this.selectedWidget.guid];
                    }

                    return [];
                }
            },
        });

        pageApp = new Vue(
        {
            el: '#page',
            data:
            {
                availableWidgets: @Json.Serialize(Model.AvailableWidgets),
                supportedStations: @Json.Serialize(Model.SupportedStations)
            }
        });
    });
    </script>

    <div id="page">
        <div id="widget-factory-dialog" class="modal" tabindex="-1" role="dialog">
            <widget-factory :widgets="availableWidgets" :stations="supportedStations"></widget-factory>
        </div>
        <div id="widget-edit-dialog" class="modal" tabindex="-1" role="dialog">
            <widget-editor :widgets="availableWidgets" :stations="supportedStations"></widget-editor>
        </div>
    </div>

    <div class="gridster">
        <ul>
            @foreach (var item in Model.Items)
            {
                <li style="background-color:@item.Widget.Background;" data-widget-stations="@String.Join(",", item.Stations)" data-widget-guid="@item.Widget.Guid" data-widget-url="@item.Widget.Url" data-widget-last-sync="0" data-widget-timeout="@item.Widget.Timeout" data-sizex="@item.Widget.Width" data-sizey="@item.Widget.Height" data-col="@item.X" data-row="@item.Y"></li>
            }
        </ul>
    </div>

    <div id="bg" class="bg"></div>
}